/* Modal 基本樣式 */
.modal {
  display: none;
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal-content {
  display: flex;
  background-image: linear-gradient(116deg, #c8feff, #fff1b9);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  height: 80%;
  align-items: center;
  flex-direction: column;
}
.modal-content .card-title {
  display: none;
}
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.card-wrapper {
  width: 316px;
  height: 506px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
/* 閃亮效果 */
.card-front::before,
.card-front::after {
    content: "";
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
}

.card-front::before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  animation: holoGradient 15s ease infinite both;
  background-image: linear-gradient(
      115deg,
      transparent 0%,
      rgb(0, 231, 255) 30%,
      transparent 47.5%,
      transparent 52.5%,
      rgb(255, 0, 231) 70%,
      transparent 100%);
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  z-index: 2;
  border-radius: 27px;
  filter: brightness(0.75) contrast(1.5);
}
@keyframes holoGradient {
    3% { opacity: 0; }
    5% { background-position: 100% 100%; opacity: 1; }
    7% { opacity: 0.3; }
    9% { background-position: 100% 100%; }
    11% { opacity: 0; }
    50% { opacity: 0; background-position: 100% 100%; }
    65% { opacity: 0.2; }
    70% { opacity: 0; background-position: 0% 0%; }
}
.card-front::after {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
    background-position: center;
    background-size: 160%;
    opacity: 1;
    z-index: 3;
    animation: holoSparkle 15s ease infinite both;
    filter: brightness(2.25);
    transition: filter 0.5s ease;
    mix-blend-mode: screen;
    border-radius: 27px;
}

@keyframes holoSparkle {
    0% { opacity: 0; }
    12% { opacity: 1; }
    70% { opacity: 0.5; }
    95% { opacity: 0.2; }
    100% { opacity: 0; }
}

.card-back {
  background: #fff url('/image/card/卡片背面.png') no-repeat center;
  background-size: cover;
  color: #000;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: sans-serif;
}
.card-wrapper.flipped{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}