/* hachu LOGO */
.logo {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 99;
  padding: 50px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px
}
.logo img {
  width: 810px;
}
.logo p {
  position: relative;
  font-size: 40px;
  left: 120px;
  background: linear-gradient(90deg, var(--text-blue), var(--text-blue-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.mobile-navbar-logo {
  display: none;
}

.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 150px;
  position: relative;
}
section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  transition: all ease-out 0.5s;
  position: relative;
}
.section-canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* 彎曲文字 */
.blob-text-curve {
  position: absolute;
  top: -70px;
  z-index: 10;
  width: 600px;
  transform: rotate(300deg);
  height: 700px;
}
.blob-text-curve text {
  font-size: 16px;
  letter-spacing: 10px;
  fill: var(--text-blue);
  font-family: MyCustomFont;
}

/* 大泡泡尺寸 */
.blob-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
}
.blob-container:hover{
  cursor: pointer;
  transform: scale(2);
  transition: all 1s ease-in-out;
}
.first-blob {
  width: 600px;
  height: 600px;
}
.second-blob {
  width: 360px;
  height: 360px;
}
.third-blob {
  width: 410px;
  height: 410px;
}
.fourth-blob {
  width: 400px;
  height: 400px;
}
.fifth-blob {
  left: 95px;
  width: 500px;
  height: 500px;
}

/* 小泡泡尺寸 */
.small-blob-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-blob-container:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.small-blob-container .blob-blue, .small-blob-container .blob-pink {
  top: 30px;
  left: 40px;
}
.small-blob-container h1 {
  font-weight: 400;
  font-size: 24px;
  z-index: 10;
}
.section-2 .small-blob-container:nth-child(1) {
  left: 300px;
  top: -80px;
}
.section-2 .small-blob-container:nth-child(2) {
  left: 350px;
  top: 30px;
}
.section-3 .small-blob-container:nth-child(1) {
  width: 280px;
  height: 280px;
  right: 450px;
  top: -80px;
}
.section-3 .small-blob-container:nth-child(2) {
  width: 250px;
  height: 250px;
  right: 320px;
  top: 50px;
}
.section-4 .small-blob-container {
  width: 290px;
  height: 290px;
  left: 400px;
  top: 150px;
  text-align: center;
  line-height: 1.5;
}

/* 前後泡泡 */
.blob1,
.blob2 {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.blob1 {
  filter: blur(10px);
  width: 100%;
  height: 100%;
  animation: spin 20s infinite linear;
}
.blob2 {
  top: 60px;
  left: 50px;
  width: 75%;
  height: 75%;
  transform: scale(0.8);
  opacity: 0.8;
  filter: blur(20px);
  animation: spin 5s infinite linear reverse;
  z-index: 1;
}
.blob-pink {
  background-image: url("/webp/pink_2.webp");
}
.blob-blue {
  background-image: url("/webp/blue_2.webp");
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 小泡泡文字 */
.bub-txt {
  position: relative;
  right: 20px;
  z-index: 20;
  font-size: 34px;
  font-weight: 400;
  color: transparent;
  margin: unset;
  line-height: 1.2;
}
.bub-txt-blue {
  background: linear-gradient(180deg, var(--text-blue-dark),  var(--text-blue));
  background-clip: text;
  -webkit-background-clip: text;
}
.bub-txt-pink {
  background: linear-gradient(180deg, var(--text-red-dark),  var(--text-red));
  background-clip: text;
  -webkit-background-clip: text;
}
.bub-line-1 {
  display: block;
  transform: translateX(-25px);
}
.bub-line-2 {
  display: block;
  transform: translateX(15px);
}
#intro-concept h1, #intro-group h1, #test-testpg h1 {
  background: linear-gradient(180deg, var(--text-red-dark),  var(--text-red));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#info-allergy h1, #info-how h1 {
  background: linear-gradient(180deg, var(--text-blue-dark),  var(--text-blue));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* 泡泡轉場動畫 */
body.transitioning {
  overflow: hidden;
}
.clickableBlob {
  cursor: pointer;
  transition: opacity 1s ease;
  z-index: 30;
}
.clickableBlob.expanding {
  animation: enlargeBubble 3s ease-in-out forwards; /* 設定動畫持續時間與效果 */
}
@keyframes enlargeBubble {
  0% {
    transform: scale(1); /* 初始大小 */
    opacity: 1;
  }
  50% {
    transform: scale(4); /* 中間放大 */
    opacity: 1;
  }
  70% {
    transform: scale(10); /* 中間放大 */
    opacity: 1;
  }
  100% {
    transform: scale(15); /* 最終放大 */
    opacity: 1; /* 讓泡泡消失 */
  }
}

/** 響應式設計 **/
/*平板*/
@media (max-width: 1024px) {
  .logo img {
    height: 300px;
  }
  .map {
    padding: 90px 150px;
  }
  .blob-container {
    width: 300px;
    height: 300px;
  }
  .small-blob-container {
    width: 150px;
    height: 150px;
  }
  .small-blob-container h1 {
    font-size: 18px;
  }
  .bub-txt {
    font-size: 24px;
  }
  section {
    height: 80vh;
  }
  .small-blob-container .blob-blue, .small-blob-container .blob-pink {
    top: 20px;
    left: 20px;
  }
  .section-2 .small-blob-container:nth-child(1) {
    left: 120px;
  }
  .section-2 .small-blob-container:nth-child(2) {
    left: 100px;
    top: 100px;
  }
  .section-3 .small-blob-container:nth-child(1) {
    width: 280px;
    height: 280px;
    right: 120px;
  }
  .section-3 .small-blob-container:nth-child(2) {
    width: 250px;
    height: 250px;
    right: 100px;
    top: 100px;
  }
  .section-4 .small-blob-container {
    left: 100px;
    text-align: center;
    line-height: 1.5;
  }

}
/* 手機 */
@media (max-width: 768px) {
  html {
    overflow-x: clip;  
  }
  .navbar {
    display: none;
  }
  .logo {
    padding: 0;
    margin: 100px 0;
    left: 0;
    right: 0;
    align-items: center;
  }
  .logo img {
    height: 150px;
    width: auto;
  }
  .logo p {
    font-size: 18px;
    left: 0px;
  }
  .map {
    padding: 150px 50px;
  }
  .blob-container {
    width: 250px;
    height: 250px;
    justify-content: center;
  }
  .first-blob {
    width: 350px !important;
    height: 350px !important;
    top: -100px;
    left: 40px;
  }
  .blob-text-curve {
    width: 250px;
    height: 250px;
    top: -90px;
    left: 100px;
  }
  .small-blob-container {
    width: 130px;
    height: 130px;
  }
  .small-blob-container h1 {
    font-size: 14px;
  }
  .bub-txt {
    font-size: 18px;
  }
  .bub-line-1 {
    transform: translateX(0px);
  }
  section {
    height: 70vh;
  }
  .small-blob-container .blob-blue, .small-blob-container .blob-pink {
    left: 15px;
  }
  .section-2 .small-blob-container:nth-child(1) {
    left: 200px;
    top: 30px;
  }
  .section-2 .small-blob-container:nth-child(2) {
    left: 0px;
    top: -45px;
  }
  .section-3 .small-blob-container:nth-child(1) {
    width: 150px;
    height: 150px;
    right: 190px;
    top: 50px;
  }
  .section-3 .small-blob-container:nth-child(2) {
    width: 140px;
    height: 140px;
    right: 0px;
    top: -40px;
  }
  .section-4 .small-blob-container {
    width: 175px;
    height: 175px;
    left: 50px;
    top: 0px;
  }
  .blob2{
    height: 50%;
    top: 60px;
    left: 30px;
  }
}

@media (max-width: 380px){
  .logo img {
    height: 120px;
  }
  .map {
    padding: 90px 0px;
  }
  .blob-container {
    width: 200px;
    height: 200px;
    flex-direction: row-reverse;
  }
  .small-blob-container {
    width: 100px;
    height: 100px;
  }
  .small-blob-container h1 {
    font-size: 12px;
  }
  .bub-txt {
    right: 0;
    font-size: 14px;
  }
  section {
    height: 60vh;
  }
  .small-blob-container .blob-blue, .small-blob-container .blob-pink {
    left: 10px;
  }
  .section-2 .small-blob-container:nth-child(1) {
    left: 40px;
  }
  .section-2 .small-blob-container:nth-child(2) {
    left: 30px;
    top: 30px;
  }
  .section-3 .small-blob-container:nth-child(1) {
    right: 40px;
  }
  .section-3 .small-blob-container:nth-child(2) {
    right: 30px;
    top: 30px;
  }
  .section-4 .small-blob-container {
    left: 30px;
  }
}